@page
@model IndexModel
@{
    ViewData["Title"] = "Active Pull Requests";
}

@foreach (var (category, pullRequests) in (await Dashboard.GetCategorizedPullRequests()).OrderBy(i => i.Key))
{
    @if (string.IsNullOrEmpty(Model.Categories) || Model.Categories.Split(",").Contains(category))
    {
        <h2 class="category">@category (@pullRequests.Length) <a href="?categories=@category">(filter to just this)</a></h2>
        <ul>

            @foreach (var pullRequest in pullRequests)
            {
                <li>
                    @if (pullRequest.Draft)
                    {
                        <span class="draft-label">Draft</span>
                    }

                    <a href="@pullRequest.HtmlUrl">@pullRequest.Title</a> by @pullRequest.User.Login @pullRequest.CreatedAt.Humanize() in @pullRequest.Base.Repository.FullName.
                </li>
            }

        </ul>
    }
}
